<div class="card">
    <div class="card-block">
        <h4 class="card-title">Travel Web</h4>
        <h6 class="card-subtitle mb-2 text-muted">Asp.Net Core SPA Anuglar4 app</h6>
  
        <div class="container">
            <div class="col-sm-9">
                <ul class="nav nav-pills outline-active">
                    <li class="nav-item" [ngClass]="{'active': listConfig.type === 'user'}">
                        <a class="nav-link" (click)="setListTo('user')">Your Trips</a>
                    </li>
                    <li class="nav-item" [ngClass]="{'active': listConfig.type === 'all'}">
                        <a class="nav-link" (click)="setListTo('all')">All Trips</a>
                    </li>
                </ul>
                <visit-list [limit]="10" [config]="listConfig"></visit-list>
            </div>
        </div>
    </div>
</div>