  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-md-10 offset-md-1">
        <div class="">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link"
                 routerLinkActive="active"
                 [routerLinkActiveOptions]="{ exact: true }"
                 [routerLink]="['/locations', user.username]">
                Cities
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"
                 routerLinkActive="active"
                 [routerLinkActiveOptions]="{ exact: true }"
                 [routerLink]="['/locations', user.username, 'states']">
                States
              </a>
            </li>
          </ul>
        </div>

          <router-outlet></router-outlet>
      </div>

    </div>
  </div>